
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	z-index: 1000;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 5px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
	cursor: pointer;
}
.sf-menu li li a {
	width: 160px;
	margin: 1px 0;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			31px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			195px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			190px; /* match ul width */
	top:			0;
}

/*** SKIN ***/
.sf-menu {
	float: right;
}
.sf-menu li ul {
	padding: 10px 0;
	border-radius: 0 4px 4px 4px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
	box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.1);
}
.sf-menu li ul ul {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 0;
}
.sf-menu li {
	float: left;
	line-height: 16px;
	padding: 0;
	margin-left: 5px;
	font-size: 16px;
}
.sf-menu li li {
	line-height: 16px;
	text-transform: none;
	padding: 0;
	margin: 0 10px;
	background-image: none;
	text-transform: none;
	font-size: 14px;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}
.sf-menu a {
	text-align: center;
	text-decoration: none;
	float: left;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.sf-menu a span.menu-btn {
	float: left;
	padding: 9px 16px 10px;
}
.sf-menu li:hover a span.menu-btn,
.sf-menu li.current-menu-item a span.menu-btn,
.sf-menu li.current-page-parent a span.menu-btn,
.sf-menu li.current-page-ancestor a span.menu-btn,
.sf-menu li.current_page_parent a span.menu-btn {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.sf-menu li:hover a,
.sf-menu li.current-menu-item a,
.sf-menu li.current-page-parent a,
.sf-menu li.current-page-ancestor a,
.sf-menu li.current_page_parent a {
	background-image: url("../images/gradient-btn.png");
	background-position: 0 -7px;
	background-repeat: repeat-x;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: none;
}
.sf-menu li:hover a,
.sf-menu li.sf-with-ul:hover a {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.sf-menu li.sf-with-ul:hover a {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	padding-bottom: 5px;
}
.sf-menu li.sf-with-ul:hover li a {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-bottom: 0;
}
.sf-menu li li a span.menu-btn,
.sf-menu li:hover li a span.menu-btn,
.sf-menu li.current-menu-item li a span.menu-btn,
.sf-menu li.current-page-parent li a span.menu-btn,
.sf-menu li.current-page-ancestor li a span.menu-btn,
.sf-menu li.current_page_parent li a span.menu-btn {
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.sf-menu li li a,
.sf-menu li:hover li a,
.sf-menu li.current-menu-item li a,
.sf-menu li li.current-menu-item a,
.sf-menu li.current-page-parent li a,
.sf-menu li li.current-page-parent a,
.sf-menu li.current-page-ancestor li a,
.sf-menu li li.current-page-ancestor a,
.sf-menu li li.current-menu-item li a,
.sf-menu li.current-menu-parent li a,
.sf-menu li.current-menu-ancestor li a,
.sf-menu li:hover li a:hover,
.sf-menu li li.current-menu-item a {
	text-align: left;
	border: none;
	padding: 7px 10px !important;
	background: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.sf-sub-indicator {
	font-weight: normal;
}

.sf-sub-indicator-inner {
	display: none;
}
.sf-sub-indicator {
	display: none;
	border-bottom-color: #fff;
}
.sf-menu li:hover .sf-sub-indicator,
.sf-menu li.sfHover a:hover .sf-sub-indicator {
	display: block;
}

.sf-menu li li .sf-sub-indicator-inner {
	display: block;
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 4px;
	height: 0;
	width: 0;
	left: 170px;
	margin-left: 0;
	top: 50%;
	margin-top: -3px;
	border-left-color: #fff;
}
.sf-menu li li .sf-sub-indicator {
	border-left-color: #fff;
}
