/* --- NEW TEACH ---  */

.teach #callout {
	background: url(/images/callout-teachlanding.jpg) no-repeat 50% 0 transparent;
	height: 530px;
	width: 100%;
	margin: 0 auto;
}

.teach #callout .wrapper {
	width: 900px;
	position: relative;
	margin: 0 auto;
	
}

.teach #callout h2,
.teach #callout h3,
.teach #callout ul {
	position: absolute;
	top: -5000em;
	text-indent: -5000em;
}
.teach #callout h3 {
	position: absolute;
	top: 100px;
	left: 230px;
	width: 300px;
	height: 50px;
}
.teach #callout h3 a {
	position: relative;
	display: block;
	float: left;
	margin-left: 10px;
	width: 140px;
	height: 47px;
}
.teach #callout ul {
	display: block;
	width: 180px;
	top: 50px;
	right: 10px;
}
.teach #callout ul a {
	display: block;
	height: 29px;
}
.teach #callout ul a:hover {
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}
.teach #main-whitebox-top {
	background: none;
	display: none;
}

.teach #lead-in {
    background-image: none;
    height: 105px;
    left: 20px;
    position: absolute;
    top: -340px;
    width: 906px;
    z-index: 1;
}

.teach #lead-in p {
	color: #FCF7E7;
	font-family: Georgia,Times,sans-serif;
	font-size: 15px;
	max-width: 580px;
	position: absolute;
	right: 50px;
	top: 33px;
}

.teach #lead-in a {
	display:block;
	height:50px;
	width:200px;
	position:absolute;
	left:40px;
	top:10px;
}

.teach #lead-in a span {
	display:none;
}

.teach #main-content {
	width: 899px;
	margin-top: -259px;
	background:#FFF;
	overflow: hidden;
}

.teach #feature {
	width:899px; 
	height:334px;
	background:#FFF;
	overflow: hidden;
	clear: none;
	position: relative;
}

.teach #left-feature {
	float: left;
	width: 282px;
	margin-top: 10px;
	padding: 10px 9px 20px 9px;
}

.teach #middle-feature {
	float: left;
	width: 281px;
	margin-top: 10px;
	padding: 10px 9px 20px 9px;
}

.teach #right-feature {
	float: right;
	width: 282px;
	margin-top: 10px;
	padding: 10px 9px 20px 9px;
}

.teach #left-feature img {
	border-bottom:#df5635 4px solid;
	z-index: 1;
	position: relative;
}

.teach #middle-feature img {
	border-bottom:#fdbf24 4px solid;
}

.teach #right-feature img {
	border-bottom:#89b1cf 4px solid;
}

.teach #txt-left-feature, 
.teach #txt-middle-feature, 
.teach #txt-right-feature {
	position: absolute;
	z-index:2;
	background-color: #FFFFFF;
	overflow: hidden;
	filter: alpha (opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	z-index: 2;
	width: 208px;
	height: 84px;
	padding: 12px 10px;
	margin: -130px 30px 20px;
}

.teach #txt-left-feature {
	background-color: #df5635;
}

.teach #txt-middle-feature {
	background-color: #fdbf24;
}

.teach #txt-right-feature {
	background-color: #89b1cf;
}

.teach #feature h2 {
	font-size: 1.6em;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 120%;
	margin-top: 0;
}

.teach #feature p {
	font-size: 1em;
	font-weight: 700;
}

.teach #feature a {
	color: #FFFFFF;
}

.teach #feature a:hover {
	text-decoration: underline;
}

.teach #content {
	width:900px; 
	height: 560px;
	background:#FFF;
	overflow: hidden;
	clear: none;
	position: relative;
}

.teach #left-content {
	float: left;
	width: 287px;
	height:475px;
	margin-top: 10px;
	padding: 10px 9px 20px 0px;
	border-right: #bfbfbf dotted 1px;
}

.teach #middle-content {
	float: left;
	width: 287px;
	height:475px;
	margin-top: 10px;
	padding: 10px 9px 20px;
	border-right: #bfbfbf dotted 1px;
}

.teach #right-content {
	float: right;
	width: 288px;
	height: 300px;
	margin-top: 10px;
	padding: 10px 0px 20px 9px;
}

.teach #header-left-content, 
.teach #header-middle-content, 
.teach #header-right-content {
	height: 50px;
	width: 288px;
}

.teach #header-left-content a:hover,
.teach #header-middle-content a:hover,
.teach #header-right-content a:hover {
	border-bottom: #bfbfbf dotted 1px;
}
	

.teach #list-left-content, #list-middle-content, #list-right-content {
	height: 350px;
	width: 288px;
}

.teach #list-left-content ul li,
.teach #list-middle-content ul li,
.teach #list-right-content ul li{
	float: left;
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	color: #666666;
}

.teach #list-left-content ul li img,
.teach #list-middle-content ul li img,
.teach #list-right-content ul li img{
	float: left;
	margin: -10px 15px 0 0;
}

.teach #list-left-content .subheader,
.teach #list-middle-content .subheader,
.teach #list-right-content .subheader {
	min-height: 40px;
	font-size: 1.45em;
	display: block;
}

.teach #list-left-content .subheader {
	color: #df5635;
}

.teach #list-middle-content .subheader {
	color: #ca9102;
}

.teach #list-right-content .subheader {
	color: #3c6e94;
}

.teach #list-left-content a {
	color: #df5635;
}

.teach #list-middle-content a {
	color: #ca9102;
}

.teach #list-right-content a {
	color: #3c6e94;
}

.teach #list-left-content a:hover,
.teach #list-middle-content a:hover,
.teach #list-right-content a:hover {
	text-decoration: underline;
}

.teach #boxes {
	width:900px; 
	height:125px;
	background:#FFF;
	overflow: hidden;
	clear: none;
	position: relative;
	z-index: 1;
	background: url("../../images/teach-home-btm-banner.jpg") no-repeat scroll 100% 0;
}

.teach #box1wrap, #box2wrap, #box3wrap, #box4wrap {
	float: left;
	width: 20%;
}

.teach #box5wrap {
	float: right;
	width:20%;
}

.teach #box2, #box3, #box4, #box5 {
	height: 100px;
	margin: 10px;
	padding: 30px 10px 20px;
	width: 160px;
        background: url("/images/teach-home-border.jpg") no-repeat;
}

.teach #box1 {
	height: 100px;
	margin: 10px;
	padding: 30px 10px 20px;
}
		
.teach #box1txt, #box2txt, #box3txt, #box4txt, #box5txt {
	text-align: center;
}

.teach #boxes a {
	font-size: 2em;
	text-align: center;
	z-index: 2;
	color: #FFFFFF;
	font-family: Georgia,Times,sans-serif;;
	
}

.teach #boxes a:hover {
	text-decoration: underline;
}

.teach #boxes a:visited {
	color: #FFFFFF;
}

.teach #boxes-btm {
	height: 20px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 900px;
}

.teach #left-main-content {
	width: 580px;
	padding: 0px 10px;
	clear: both;
	float: left;
}

.teach #left-main-content {
	color: #666666;
	font-size: 1em;
}

.teach #left-main-content ul {
	margin-top: 0.5em;
}

.teach #left-main-content h2 {
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1.3em;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #503E70;
}

.teach .post {
	padding: 10px 0;
}

.teach .post h2 a{
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1.3em;
}

.teach .post h2 a:hover {
	text-decoration: underline;
}

.teach .post h2 {
	line-height: 1.3em;
	font-size: 1.7em;
	font-weight: 500px;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #503E70;
}

.teach .post h3 {
	margin-top: 1.5em;
	line-height: 2em;
	font-size: 1.3em;
	font-weight: lighter;
	color: #CB023E;
}

.teach .post h4 {
	margin-top: 1.5em;
	line-height: 2em;
	font-size: 1.3em;
	font-weight: lighter;
	color: #666666;
}

.teach. post blockquote h3 {
	margin-top: 0;
}

.teach .post-header {
	width: 100%;
}

.teach .post-header-title {
	float: left;
}

.teach .pdf_download {
	float: right;
	margin-top: 30px;
	padding-right: 10px;
}

.teach img.pdf { 
	vertical-align: middle; 
	padding-right: 10px;
} 

.teach .label {
	cursor: pointer;
}

.teach .hidden span {
	visibility:hidden;
}

.teach .program-info {
    clear: both;
    margin-bottom: 5em;
    margin-top: 1.2em;
}

.teach .program-info ul {
    border-bottom: 0 solid #CCCCCC;
    display: block;
    padding: 0;
}

.teach .program-info ul li {
    display: inline;
    float: left;
}

.teach .program-info li.share-link {
    background: url("http://seekingmichigan.org/images/icon-share.png") no-repeat scroll 0 10% transparent;
    padding-left: 5px;
    margin-bottom: -20px;
    margin-top: 15px;
}

.teach .program-info li.registration {
    background: url("http://seekingmichigan.org/images/button-register.jpg") no-repeat scroll 0 50% transparent;
    float: right;
    margin-left: 10px;
    padding-right: 10px;
    height:44px;
    width:116px;
}

.teach .program-info li.application {
    background: url("http://seekingmichigan.org/images/button-apply.jpg") no-repeat scroll 0 50% transparent;
    float: right;
    margin-left: 10px;
    padding-right: 10px;
    height:44px;
    width:116px;
}

.teach .program-info a {
    display: block;
    padding: 2px 2px 2px 18px;
    height:55px;
}

.teach .post-meta {
    clear: both;
    margin-bottom: 5em;
    margin-top: 1.2em;
}

.teach .post-meta ul {
    border-bottom: 0 solid #CCCCCC;
    display: block;
    padding: 0;
}

.teach .post-meta ul li {
    display: inline;
    float: left;
}

.teach .post-meta li.comment-count {
    background: url("http://seekingmichigan.org/images/icon-comments.png") no-repeat scroll 0 50% transparent;
    padding-left: 5px;
}

.teach .post-meta li.rating {
    background: url("http://seekingmichigan.org/images/icon-rating.png") no-repeat scroll 0 50% transparent;
    background-position:left center;
    float: right;
    margin-left: 10px;
    padding-right: 50px;
}

.teach .program-info a {
    display: block;
    padding: 2px 2px 2px 18px;
}

.teach #sidebar {
	padding: 0;
	margin: 0;
	background: url("/images/teach-sub-bar-glow.png") no-repeat scroll 100% 0 #C6BCDA;
	float: right;
	width: 299px;
	min-height: 400px;
}

.teach #sidebar a:hover {
	text-decoration: underline;
}

.teach #sidebar h2 {
	clear:left;
	color: #503E70;
	font: bold 1.4em "Lucida Grande",Lucida,Verdana,sans-serif;
	padding-top: 5px;
}

.teach #sidebar #search {
	padding: 20px 20px 10px 20px;
}

.teach #sidebar input[type="text"] {
	border: 3px solid #775DA6;
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	padding:0.2em 0;
	width: 100%;
}

.teach input#search-button {
	background: url("/search-button.png") no-repeat scroll 0 0 transparent;
	border: medium none;
	display: block;
	height: 25px;
	margin: 1em 0;
	width:98px;
}

.teach #sidebar-options {
	padding: 20px 20px 10px 20px;
	background: url("/images/teach-sub-border.jpg") no-repeat scroll 0 0 transparent;
}

.teach #sidebar-options ul {
	padding-bottom: 10px;
}

.teach #sidebar-options ul li {
	line-height: 1.5em;
	list-style: square inside none;
	margin-left: 10px;
}

.teach #sidebar-options ul li a {
	color: #000000;
}

.teach #sidebar p {
	color: #000000;
}

.teach #sidebar-calendar {
	padding: 20px;
	background: url("/images/teach-sub-border.jpg") no-repeat scroll 0 0 transparent;
	list-style: none;
}

/* #wp-calendar #prev a, #wp-calendar #next a {
    font-size: 9pt;
} */

#event-calendar {                  
	border: 1px solid #9f95b0;
}

#wp-calendar a {
    text-decoration: none;
}
#wp-calendar caption {
    font: bold 1.3em 'Lucida Grande',Verdana,Arial,Sans-Serif;
    text-align: center;
}
#wp-calendar th {
    font-style: normal;
    text-transform: capitalize;
    padding: 5px 0;
}

#wp-calendar {
    empty-cells: show;
    margin: auto 0;
    width: auto;
    background-color: #FFFFFF;
    border: 1px solid #C0B5D7;
}

#wp-calendar table.dates {
	border-top: 1px solid #9F95B0;
}

#wp-calendar thead.week {
	border-top: 1px solid #C6BCD7;
}

#wp-calendar #next a {
    padding-right: 10px;
    text-align: right;
}
#wp-calendar #prev a {
    padding-left: 10px;
    text-align: left;
}
#wp-calendar a {
    display: block;
}
#wp-calendar caption {
    text-align: center;
    width: 199px;
    float: left;
}
#wp-calendar td {
    padding: 3px 0;
    text-align: center;
}
#wp-calendar td.pad:hover {
    background-color: #FFFFFF;
}

#wp-calendar table {
    width: 100%;
}
#wp-calendar #prev {
    float: left;
    width: 25%;
    height: 30px;
    padding-top: 10px; 
}
#wp-calendar #next {
    float: right;
    width:25%; 
    height: 30px;
    padding-top: 10px;
}
#wp-calendar #title {
	width: 47%;
	float: left;
	height: 30px;
	padding-top: 10px;   
	font-size: 1.4em;
}

#wp-calendar .nav {
	background-color: #C6BCDA;
}

.ec3_eventday a {
    color: #AA0000 !important;
}
#wp-calendar table td, #wp-calendar table th {
    text-align: center;
}
#wp-calendar table td, #wp-calendar table td.pad:hover, #wp-calendar table.nav tr td {
    border: medium none;
    padding: 1px;
}
#wp-calendar table td:hover, #wp-calendar table #today {
    border: 1px solid #C6BCDA;
    padding: 0;
}
.ec3_ec {
    border: medium none;
    display: block;
    float: right;
    height: 9px;
    width: 13px;
}
.ec3_ec span {
    display: none;
}
.ec3_popup {
    border: medium none;
    border-collapse: collapse;
    margin: 0 !important;
    opacity: 0.87;
    padding: 0 !important;
    position: absolute;
    z-index: 30000;
}
.ec3_popup td {
    padding: 0;
}
.ec3_popup table {
    background-color: #EEEEBB;
    border: 1px solid #999999;
    color: black;
    font-size: x-small;
    text-align: left;
}
.ec3_popup table td {
    padding: 1.5px 3px;
}
#ec3_shadow0 div {
    height: 32px;
    width: 8px;
}
#ec3_shadow0 {
    background-position: right bottom;
    background-repeat: no-repeat;
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    width: 8px;
}
#ec3_shadow1 {
    background-repeat: repeat-x;
    border: medium none;
    height: 16px;
    margin: 0;
    padding: 0;
}
#ec3_shadow2 div {
    height: 32px;
    width: 8px;
}
#ec3_shadow2 {
    background-position: left bottom;
    background-repeat: no-repeat;
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    width: 8px;
}
.ec3_list {
    color: #880000;
    letter-spacing: -0.2px;
    margin-left: -12px;
    word-spacing: -1px;
}
.ec3_list li {
    font-size: 1em !important;
}
.ec3_list li:before {
    content: "" !important;
}
table.ec3_schedule {
    border: 1px solid #880000;
    border-collapse: collapse;
    float: left;
    margin: 0.5ex 1ex 0.5ex 0;
}
table.ec3_schedule td {
    color: #880000;
    padding: 0 0.5ex;
}
td.ec3_start {
    text-align: right;
}
td.ec3_to {
    text-align: center;
}

.teach #sidebar-info {
	padding: 20px 20px 10px 20px;
	background: url("/images/teach-sub-border.jpg") no-repeat scroll 0 0 transparent;
}

.teach #sidebar-info ul {
	padding-bottom: 10px;
}

.teach #sidebar-info ul li {
	line-height: 1.5em;
	margin-left: 10px;
}

.teach #sidebar-info ul li a {
	clear:left;
	color: #503E70;
	font: bold 1.4em "Lucida Grande",Lucida,Verdana,sans-serif;
	padding-top: 5px;
	line-height: 2em;
}

.teach #sidebar-btn {
	padding: 5px 0;
	margin: 0px;
	background: url("/images/teach-sub-btm-border.jpg") no-repeat scroll 100% 0 #ae9fca;
	width: 300px;
	clear: left;
}

.teach #sidebar-btn ul li {
	padding: 5px 0;
}

.teach #sidebar-btm {
	background: url("/images/teach-sub-btm-bar.jpg") no-repeat scroll 100% 0 #AE9FCA;
	padding: 0px;
	margin: 0px;
	width: 300px;
	height: 20px;
	clear: left;
	list-style: none;
}

.teach #tours {
	background: url(/images/michiganmap.jpg) no-repeat 125px 55px;
	width: 560px;
	padding: 20px;
	float: left;
	clear: both;
}

#main-content ul.maploc {
	margin-top: 0;
}

div.michigan-map {
	width: 236px;
	height: 234px;
	background-color: transparent;
	margin: 55px 0 -10px 125px;
	position: relative;
}
div.michigan-map ul.maploc li {
	
}
div.michigan-map ul.maploc li a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #006300;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-indent: -5000px;
	background-color: #999;
	background-color: rgba(153,153,153,0.60);
}
div.michigan-map ul.maploc li a:hover {
	border: 2px solid #ffda93;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0 0 5px #000;
}
div.michigan-map ul.maploc li  strong {
	position: absolute;
	bottom: 20px;
	left: -5000px;
	width: 236px;
	display: block;
	padding: 5px;
	text-align: center;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding-top: 5px;
	background: rgba(250,250,250,0.8);
	color: #666666;
}
div.michigan-map ul.maploc li:hover strong {
	position: absolute;
	bottom: 20px;
	left: 0;
}
div.michigan-map ul.maploc li.maploc1 a {
	left: 45px;
	top: -15px;
}
div.michigan-map ul.maploc li.maploc2 a {
	left: 70px;
	top: 20px;
}
div.michigan-map ul.maploc li.maploc3 a {
	left: 130px;
	top: 35px;
}
div.michigan-map ul.maploc li.maploc4 a {
	left: 80px;
	top: 40px;
}
div.michigan-map ul.maploc li.maploc5 a {
	left: 168px;
	top: 70px;
}
div.michigan-map ul.maploc li.maploc6 a {
	left: 140px;
	top: 90px;
}
div.michigan-map ul.maploc li.maploc7 a {
	left: 165px;
	top: 95px;
}
div.michigan-map ul.maploc li.maploc8 a {
	left: 180px;
	top: 110px;
}
div.michigan-map ul.maploc li.maploc9 a {
	left: 140px;
	top: 150px;
}
div.michigan-map ul.maploc li.maploc10 a {
	left: 160px;
	top: 170px;
}
div.michigan-map ul.maploc li.maploc11 a {
	left: 130px;
	top: 175px;
}

